
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {

  font-family: 'Kode Mono', monospace;
}

a {
  color: white;
}

.navbar {
  padding: 10px 20px;
  background-color: #FFA500;
  color: white; 
}
.navbar h1 {
  font-family: 'Kode Mono', monospace;
  font-weight: 700;
  font-size: 3rem;
}




.container {
  background-color: white;
  padding: 20px;
  text-align: center; 
  font-size: 2.5rem; 
}

span{
color: #FFA500;
}

.random{
font-size: 1.5rem;
padding: 5px;
border-radius: 10px;
background-color: whitesmoke;
width: 600px;
height: 600px;
color: white;
align-items: center;
margin: 20px 0px 20px 700px;
box-shadow: 0px 1px 2px rgba(0,0,0,0.5)
}

.random h3{
text-align: center;
color: black;
padding: 10px;
font-family: 'Inter', sansarif;
}

.reward{  
padding: 20px;
border-radius: 10px;
background-color:#FFA500;
text-align: center;
}

.jerry{
margin: 60px 0px 0px 140px;
width: 400px;
border-radius: 100%;
}

.try{
width: 400px;
height: 50px;
border-radius: 30px;
border: none;
padding: 5px;
background-color: #FFA500;
color: white;
font-weight: bold;
font-size: 1.5rem;
margin: 0px 0px 20px 800px;
box-shadow: 0px 1px 2px rgba(0,0,0,0.5)
}

.try:hover {
  box-shadow: 0px 3px 6px 6px rgba(0,0,0,0.3);
}

.rewards{
width: 640px;
margin: 40px 0px 0px 20px;
box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
background-color: white;
border-radius: 8px;
}

.list{
margin: 10px 0px 0px 0px;
color:#FFA500;
font-size: 2.5rem;
}

input{
    font-size: 1rem;
outline: #FFA500;
width: 350px;
border-radius: 10px;
border: 1.5px solid #FFA500;
text-align: center;
padding: 15px;
}
.add-reward{
width: 150px;
height: 40px;
border-radius: 20px;
border: none;
padding: 5px;
background-color: #FFA500;
color: white;
font-weight: bold;
margin: 5px 0px 0px 0px;
box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
font-size: 1rem;
}

ul{
padding: 34px;
}
ul li {
display: flex;
justify-content: space-between;  
padding: 15px;
font-size: 2.3rem;
border-bottom: 1px solid #FFA500;
}

.remove {
font-size: 1rem;
border: none;
outline: none;
background-color: white;
padding: 10px;
cursor: pointer;
border-radius: 50px;
margin-left: 10px;
box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.cont{
padding: 10px;
}
.science{
margin: 20px 0px 0px 10px;
color: #FFA500;
font-size: 2.41rem;
}

.article{
font-size: 2rem;
margin: 0px 0px 10px 10px;
font-family: 'Inter', sans-serif;
line-height: 1.6;
}

.faqs{
margin: 20px;
color: #FFA500;
text-align: center;
font-size: 2.41rem;
}

.faqcon{
margin-left: 750px;
width: 550px;
}

.faqcon details {
padding: 15px 20px;
margin-bottom: 20px;
border-radius: 8px;
box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.faqcon summary {
font-weight: bold;
font-size: 2em;
color: black;
}

.faqcon p {
margin-top: 10px;
color: #2c3e50;
}
.top{
    display: none;
margin: 20px 0px 20px 200px;
color: #FFA500;
font-size: 5rem;
border: none;
background-color: inherit;
border-radius: 50%;
}
footer{
font-size: 2rem;
padding: 20px;
width: auto;
background-color: #FFA500;
color: white;
}
   
@media (min-width: 600px) and (max-width: 1024px) {

    body{
      font-size: 18px;
        align-items: center;
        text-align: center;
    } 
    .random{
    margin: 20px 0px 20px 20%;
    } 
    .try{
        margin: 0px 0px 20px 60px;
        
        }  
        .article{
            font-size: 1rem;
            margin: 0px 0px 10px 100px;
            
            }
            .faqcon{
                margin-left: 300px;
                width: 400px;
                }
}
